@model UberApi.Models.EntityFramework.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentaireCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentaireCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pourboire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pourboire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrIdAdresseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrIdAdresseNavigation.IdAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdresseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdresseNavigation.IdAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCbNavigation.IdCb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoursierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoursierNavigation.IdCoursier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrestationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrestationNavigation.IdPrestation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReservationNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReservationNavigation.IdReservation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCourse">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
