@model UberApi.Models.EntityFramework.Restaurateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotDePasseUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotDePasseUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRestaurateur">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
