@model UberApi.Models.EntityFramework.Vehicule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immatriculation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Immatriculation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modele)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccepteAnimaux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccepteAnimaux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstElectrique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstElectrique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstConfortable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstConfortable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstRecent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstRecent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstLuxueux)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstLuxueux)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusProcessusLogistique)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusProcessusLogistique)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemandeModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemandeModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemandeModificationEffectue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemandeModificationEffectue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoursierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoursierNavigation.IdCoursier)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVehicule">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
