@model UberApi.Models.EntityFramework.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotDePasseUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotDePasseUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SouhaiteRecevoirBonPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SouhaiteRecevoirBonPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MfaActivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MfaActivee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastConnexion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastConnexion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemandeSuppression)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemandeSuppression)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdresseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdresseNavigation.IdAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEntrepriseNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEntrepriseNavigation.IdEntreprise)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdClient">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
