@model UberApi.Models.EntityFramework.Commande

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempsCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempsCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstLivraison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstLivraison)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefusDemandee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefusDemandee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemboursementEffectue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemboursementEffectue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLivreurNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLivreurNavigation.IdLivreur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPanierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPanierNavigation.IdPanier)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCommande" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
