@model UberApi.Models.EntityFramework.TypePrestation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TypePrestation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibellePrestation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibellePrestation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionPrestation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionPrestation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePrestation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePrestation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrestation">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
