@model IEnumerable<UberApi.Models.EntityFramework.TypePrestation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibellePrestation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionPrestation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePrestation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibellePrestation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionPrestation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePrestation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPrestation">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPrestation">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPrestation">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
